/* RESPONSIVE DESIGN */
@media (max-width: 900px){
    .nav-trigger{
        display: block;
    }

    header.topbar, nav{
        display: none;
    }

    .hero-image{
        display: none;
    }

    .welcome-wrap{
        padding: 3.5rem;
    }

    .top-products .food-slider,
    .about-meal-wrap, .card-wrapper,
    .article-wrapper,
    .subscribe .container, .contact-us,
    footer .container{
        display: grid;
        grid-template-columns: 1fr;
    }

    footer .container .box{
        margin-bottom: 2rem;
    }

    .service-card{
        margin-bottom: 3rem;
    }

    section.top-products .food-slider .food-card{
       width: 80%;
    }
}