/* RESPONSIVE DESIGN */
@media (max-width: 900px){
    .nav-trigger{
        display: block;
    }

    header.topbar, nav{
        display: none;
    }

    .hero-image{
        display: none;
    }

    .welcome-wrap{
        padding: 3.5rem 3.5rem 3.5rem 3.5rem;
    }

    .top-products .food-slider{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 500px));
        
    }

    section.top-products .food-slider .food-card{
        width: 60%;
        align-items: center;
    }
}